
body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0px;
}



    h1,h2,h3{
        color: #0693f1;
    }
    img{
       max-width: 50%;
       height: 40px;
       border-radius: 32px;
       margin-top: 40px;
    }
    .team-member{
        margin-bottom: 27px;
        
    }
    footer{
        background-color: #005792;
        color: white;
        text-align: center;
        padding: 15px;
        margin-top: 40px;
    }
    nav{
        display: flex;
        place-items: center;
        justify-content: space-between;
        background-color: #000;
        padding: 30px;
    }
    nav a{
        margin-left: 30px;
        color: #fff;
        text-decoration: none;
        font-size: 20px;
    }
    nav a:hover{
        color: rgb(250, 117, 117);
    }
nav h1{
    color:  #fff;
    font-family: cursive;
    margin-top: 55px;
    margin-left: 20px;
}
.logo{
    display: flex;
    place-items: center;
    margin-top: -40px;
}


main{
    max-width: 1000px;
    border: 1px solid #bbb;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    border-radius: 50px;
}

section{
    border-top: 1px solid #bbb;
    padding-top: 10px;
}
  